@page "/countries"


<h3>@Localizer["Paises"]</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">@Localizer["Nuevo"] @Localizer["Pais"] </a>
</div>

<GenericList MyList="Countries">
@*     <Loading>
        <p>cargando...</p>
    </Loading> *@
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["Pais"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            <a class="btn btn-warning">@Localizer["Editar"]</a>
                            <button class="btn btn-danger">@Localizer["Borrar"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>




